## list .
list are ordered, mutable collection of items .they can contain items of different data types

1. introduction to list
2. creating list
3. acessing list elements
4. modifying list elements
5. list methods
6. slicing lists
7. iterating over lists
8. list comprehensions
9. nested lists
10. practical example and common error

In Python, a list is a data structure that allows you to store multiple items in a single variable. Lists are ordered, mutable (modifiable), and allow duplicate elements.

In [1]:
##creating list
##You can create a list by placing items inside square brackets [], separated by commas.
###
names =["krish",5,"keshav"]

In [2]:
names

['krish', 5, 'keshav']

In [4]:
##Accessing Elements:
##You can access list elements using their index. The first element has index 0.

fruits =["appple","bannana","kivi","cherry"]

In [5]:
fruits[0]

'appple'

In [6]:
fruits[1:3]

['bannana', 'kivi']

In [7]:
##modifying list elements:
##Modifying a List: Since lists are mutable, you can modify them after creation
fruits[1]="watermelon"

In [8]:
print(fruits)

['appple', 'watermelon', 'kivi', 'cherry']

In [9]:
##Adding Elements:
## append() adds a single element to the end of the list.
## extend() adds multiple elements to the list.
## insert() adds an element at a specific position.

fruits.append("guava")
fruits.insert(1,"pomegranate")

In [10]:
print(fruits)

['appple', 'pomegranate', 'watermelon', 'kivi', 'cherry', 'guava']

In [11]:
##Removing Elements:
##remove() removes the first occurrence of a value.
##pop() removes an element at a specific index or the last element if no index is specified.
##clear() removes all elements from the list

In [12]:
fruits.remove("appple")

In [13]:
fruits.pop() # Removes the last element

'guava'

In [14]:
fruits.pop(0) # Removes element at index 1

'pomegranate'

In [15]:
fruits.clear() # Removes all elements from the list

In [16]:
fruits =["appple","bannana","kivi","cherry"]

In [17]:
fruits.sort() ##sort list in ascending order

In [18]:
fruits.reverse() ##reverse  the list

In [19]:
fruits

['kivi', 'cherry', 'bannana', 'appple']

In [20]:
##Slicing a List:
##You can get a sublist by slicing the list
## double colon :: is step size 

print(fruits[1:4])  # Output:  (from index 1 to 3)
print(fruits[:3])  # Output:  (from the start to index 2)
print(fruits[3:])  # Output:  (from index 3 to the end)

['cherry', 'bannana', 'appple']
['kivi', 'cherry', 'bannana']
['appple']

In [21]:
## list iteration 
##1
##You can iterate over a list using a for loop:

my_list = [10, 20, 30, 40, 50]

for item in my_list:
    print(item)

10
20
30
40
50

In [23]:
##2.
##Using for Loop with Index
##You can also access both the index and the element using range() and len():

for i in range(len(my_list)):
    print(f"Index: {i}, Value: {my_list[i]}")

Index: 0, Value: 10
Index: 1, Value: 20
Index: 2, Value: 30
Index: 3, Value: 40
Index: 4, Value: 50

In [24]:
##Using enumerate()
##The enumerate() function provides both the index and the value directly.

for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: 10
Index: 1, Value: 20
Index: 2, Value: 30
Index: 3, Value: 40
Index: 4, Value: 50

In [25]:
##5
## Using List Comprehension
##You can also iterate over a list and apply some operation using list comprehension
squares = [x**2 for x in my_list]
print(squares)

### basic syntax               [expression for item in iterable]
## with conditional logic      [expression for item in iterable if condition]
## nested  list comphrehension  [expression for item1 in iterable1 for item2 in iterable  ]

[100, 400, 900, 1600, 2500]

In [26]:
### basic list comphrehension

square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
## list comphrehension with condition
lst = []
for i in range(10):
    if i % 2 == 0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [28]:
### nested list comphrehension 
lst1 = [1,2,3,4]
lst2 = ['a','b','c']
pair= [[i,j] for i in lst1 for j in lst2]

In [29]:
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c'], [4, 'a'], [4, 'b'], [4, 'c']]

In [30]:
## list comphrehension with function calls

words = ["heelo", "keshav", "tyagi"]
lengths = [len(word) for word in words]
print(lengths)

[5, 6, 5]

In [39]:
## Create a list of the first 20 positive integers. Print the list.
lst = list(range(1,21))

In [40]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Print the first, middle, and last elements of the list created

In [43]:
print(f"first element:{lst[0]}")
print(f"middle element:{lst[len(lst)//2]}")
print(f"first element:{lst[-1]}")

first element:1
middle element:11
first element:20

 List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created

In [45]:
lst[:5]

[1, 2, 3, 4, 5]

In [47]:
lst[-5:]

[16, 17, 18, 19, 20]

In [48]:
lst[5:15]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

 List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [51]:
squares= [x**2 for x in range(1,11)]

In [52]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Filtering Lists

Create a new list containing only the even numbers from the list created  using a list comprehension. Print the new list.

In [58]:
evens = [x for x in lst if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [59]:
import random

random_numbers = [random.randint(1, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")

Original list: [5, 11, 17, 9, 9, 11, 19, 4, 13, 20, 19, 15, 10, 7, 12]
Sorted in ascending order: [4, 5, 7, 9, 9, 10, 11, 11, 12, 13, 15, 17, 19, 19, 20]
Sorted in descending order: [20, 19, 19, 17, 15, 13, 12, 11, 11, 10, 9, 9, 7, 5, 4]
List with duplicates removed: [4, 5, 7, 9, 10, 11, 12, 13, 15, 17, 19, 20]

Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [60]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at second row and third column: 6

List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [61]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted students by score in descending order:")
for student in sorted_students:
    print(student)

Sorted students by score in descending order:
{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

 Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [62]:
def transpose_matrix(matrix):
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose_matrix(matrix)
print("Original matrix:")
for row in matrix:
    print(row)
print("Transposed matrix:")
for row in transposed:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [63]:
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = flatten_list(nested_list)
print("Original nested list:")
print(nested_list)
print("Flattened list:")
print(flattened)

Original nested list:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [64]:
lst = list(range(1, 11))
print(f"Original list: {lst}")
del lst[6]
del lst[4]
del lst[2]
lst.insert(5, 99)
print(f"Modified list: {lst}")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [65]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']
zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [66]:
def reverse_list(lst):
    return lst[::-1]

original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print(f"Original list: {original_list}")
print(f"Reversed list: {reversed_list}")

Original list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [67]:
def rotate_list(lst, n):
    return lst[n:] + lst[:n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)
print(f"Original list: {original_list}")
print(f"Rotated list: {rotated_list}")

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [68]:
def list_intersection(lst1, lst2):
    return [x for x in lst1 if x in lst2]

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = list_intersection(list1, list2)
print(f"List 1: {list1}")
print(f"List 2: {list2}")
print(f"Intersection: {intersection}")

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Intersection: [3, 4, 5]