CONTROL FLOW

CONDITIONAL STATEMENTS(IF,ELSE,ELIF)
1. introduvtion to conditional statements
2. if statements
3. else statements
4. elif statements
5. nested conditional statements
6. practical example
7. common errors and best practices


In Python, conditional statements are used to execute a block of code only if a specified condition is true. The most common conditional statement is the if statement, which can be combined with elif (else-if) and else clauses to handle different conditions.

In [2]:
### if statement
age = int(input())
if age>=18:
    print("you are allowed to vote in the elections")

 24

you are allowed to vote in the elections

In [2]:
### else statements
 ## the else statement execute a block of  code if the condition in the if statement is false 
age = int(input())
if age>=18:
    print("you are allowed to vote in the elections")
else:
    print("you are a minor")

 5

you are a minor

In [5]:
### elif statement
## the elif statement allows you to check for multiple condition . it stand  for "else if"
age = int(input("Enter your age: "))

if age >= 18 and age < 79:
    print("You are allowed to vote in the elections.")
elif age >= 80:
    print("You are too old.")
else:
    print("You are a minor.")

Enter your age:  85

You are too old.

In [8]:
### nested conditional statements 
## you can place if elif else statements inside if , elif, else statement to create nested conditional statements
## number even , odd , negative

num = int(input("Enter the number: "))

if num >= 0:
    print("The number is positive")
    if num % 2 == 0:
        print("The number is even")
    else:
        print("The number is odd")
else:
    print("The number is negative")

Enter the number:  -5

The number is negative

In [12]:
### some practical example 
## you need to determine if a year is leap year 


year = int(input("enter a year"))

if year%4 ==0:
     print("year is a leap year")

else:
    print("year is not a leap year")

enter a year 5

year is not a leap year


## LOOPS

1. for loop
2. while loop 
3. loop control statements
4. nested loop
5. practical example and common errors

In [13]:
range(5)

range(0, 5)

In [14]:
## FOR LOOP 
##A for loop is used to iterate over a sequence (such as a list, tuple, dictionary, string, or range) and
## execute a block of code for each element in the sequence.
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [19]:
#string 
str = "keshav tyagi"
for i in str:
    print(i)

k
e
s
h
a
v

t
y
a
g
i

In [20]:
## while loop 
# the while loop continue  to execute as long as condition is true
count = 0
while count<5:
    print(count)
    count= count +1

0
1
2
3
4

In [21]:
count = 0 
while count%2 ==0:
    print(count)
    count= count +1

0

In [25]:
## loop control statements

#break 
## the break statement exists the loop permaturely 

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [26]:
##continue
# the continue statement skips the current iteration and continues with the next
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [27]:
## pass 
## the pass statement is null operation; it does nothing.
for i in range (5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [29]:
##nested loop 
## loop inside a loop
for i in range (3):
    for j in range(2):
        print("i:{i} and j:{j}")

i:{i} and j:{j}
i:{i} and j:{j}
i:{i} and j:{j}
i:{i} and j:{j}
i:{i} and j:{j}
i:{i} and j:{j}

In [30]:
## sum of first 10 natural no with while loop 
n = 10
sum = 0 
count= 1

while count<=n:
    sum = sum +count
    count = count+1
print("the sum of 10 natural no ",sum)

the sum of 10 natural no  55

In [3]:
n= 10
sum = 0
for i in range(11):
    sum=sum+i
print(sum)  
;

55

In [7]:
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97