## S14-- working with sqlite3


SQLite3 is a lightweight, serverless, and self-contained SQL database engine. It's commonly used for local storage in applications, testing, or small-scale databases.

In [1]:
import sqlite3

In [2]:
## connect to an sqlite database 
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [5]:
## create a table 
cursor.execute('''
create table if not exists employees(
            id integer primary key,
            name text not null,
            age integer ,
            department text
            )
''')


### commit the changes 
connection.commit()

In [6]:
cursor.execute('''
select * from employees
''')

In [7]:
## insert the data in sqlite table 
cursor.execute('''
insert into employees(name,age ,department) values ('keshav',23,'data scientiest')
''')

In [8]:
cursor.execute('''
insert into employees(name,age ,department) values ('dinesh',23,'data scientiest')
''')

cursor.execute('''
insert into employees(name,age ,department) values ('vishal',18,'analyst')
''')

In [9]:
connection.commit()

In [10]:
### query the data from the table 
cursor.execute( 'select * from employees')
rows = cursor.fetchall()


## print the quieried data 


for row in rows:
    print(row)

(1, 'keshav', 23, 'data scientiest')
(2, 'dinesh', 23, 'data scientiest')
(3, 'vishal', 18, 'analyst')

In [11]:
### update the data in the table 

cursor.execute(''' update employees
                  set age = 34 where name = "krish" ''')

connection.commit()

In [12]:
cursor.execute( 'select * from employees')
rows = cursor.fetchall()


## print the quieried data 


for row in rows:
    print(row)

(1, 'keshav', 23, 'data scientiest')
(2, 'dinesh', 23, 'data scientiest')
(3, 'vishal', 18, 'analyst')